
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/menu.css">
    <link rel="stylesheet" href="/public/css/estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<script src="/socket.io/socket.io.js"></script>

<body>
    <nav>
        <a href="#" data-target="slide-out" class="sidenav-trigger left-align">
            <i class="material-icons">menu</i>
        </a>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Home</a>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
        {{!-- <li><a href="/dashboard"><i class="material-icons">home</i>Home</a></li>
        <li>
            <div class="divider"></div>
        </li> --}}
      
        <li><a class="subheader"><i class="material-icons">shopping_bag</i>Produtos</a></li>
        <li><a href="/produtos/cadastrar" class="waves-effect"><i class="material-icons">add_box</i>Cadastrar</a></li>
        <li><a href="/produtos/listar" class="waves-effect"><i class="material-icons">format_list_numbered</i>Listar</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader"><i class="material-icons">business_center</i>Fornecedores</a></li>
        <li><a href="/fornecedores/cadastrar" class="waves-effect"><i class="material-icons">add_box</i>Cadastrar</a>
        </li>
        <li><a href="/fornecedores/listar" class="waves-effect"><i
                    class="material-icons">format_list_numbered</i>Listar</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader"><i class="material-icons">label</i>Categorias</a></li>
        <li><a href="/categorias/cadastrar" class="waves-effect"><i class="material-icons">add_box</i>Cadastrar</a></li>
        <li><a href="/categorias/listar" class="waves-effect"><i
                    class="material-icons">format_list_numbered</i>Listar</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader"><i class="material-icons">attach_money</i>Venda</a></li>
        <li><a href="/vendas/cadastrar" class="waves-effect"><i class="material-icons">add_shopping_cart</i>Nova
                venda</a>
        </li>
        </li>
            <div class="divider"></div>
        </li>
        <li><a href="/login" class="waves-effect"><i class="material-icons">login</i>Sair</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        
    </ul>
    <br />
    <div class="container">
        <div class="row">
            <div class="col m3">
                <div class="card col s12 center-align">
                    <span class="card-title">Finalizadas</span>
                    <div class="card-content">
                        <h5 id="card1" />
                    </div>
                </div>
            </div>

            <div class="col m3">
                <div class="card col s12 center-align">
                    <span class="card-title">Abertas</span>
                    <div class="card-content">
                        <h5 id="card2" />
                    </div>
                </div>
            </div>

            <div class="col m3">
                <div class="card col s12 center-align">
                    <span class="card-title">Aprovadas</span>
                    <div class="card-content">
                        <h5 id="card3" />
                    </div>
                </div>
            </div>
            <div class="col m3">
                <div class="card col s12 center-align">
                    <span class="card-title">Rejeitadas</span>
                    <div class="card-content">
                        <h5 id="card4" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <div class="card col s12 center-align">
                    <span class="card-title">Análise de vendas mensais</span>
                    <div class="card-content">
                        <canvas id="" width="400" height="150"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <div class="card col s12 center-align">
                    <span class="card-title">Análise de vendas mensais por valor da venda</span>
                    <div class="card-content">
                        <canvas id="" width="400" height="150"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        var token = localStorage.getItem('token');
        var userId = localStorage.getItem('userId');
        console.log(`User id: ${userId}`);

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, null);
        });

        getTotais()
        var socket = io();
        async function getTotais() {
            var totais = null;
            await axios
                .get('/api/dashboard/cards', { headers: { authorization: `Bearer ${token}` } })
                .then(res => {
                    totais = res.data
                })
                .catch(error => {
                    window.location.href = '/login'
                    totais = {
                        card1: 0,
                        card2: 0,
                        card3: 0,
                        card4: 0,
                    }
                })
            const { card1, card2, card3, card4 } = totais
            document.getElementById('card1').innerHTML = card1
            document.getElementById('card2').innerHTML = card2
            document.getElementById('card3').innerHTML = card3
            document.getElementById('card4').innerHTML = card4
        }

    </script>
    <script type=" text/javascript" src="/public/js/materialize.min.js"></script>
</body>

</html>